body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


nav {
    border-bottom: 1px solid #ccc;
    background: #f1f1f1;
    display: flex;
    position: relative;
}


nav .mobile-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    display: none;
}


nav .mobile-bar span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 2px;
    background: #888;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    transition: ease 1s all;
}


nav ul li {
    display: inline-block;
}


nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}


nav ul li a:hover {
    background: #ccc;
}


@media (max-width: 480px) {
    nav .mobile-bar {
        display: flex;
    }
    nav ul {
        opacity: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: none;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        background: #f1f1f1;
        margin-left: -100%;
    }
}


nav ul.active {
    opacity: 1;
    min-height: 500px;
    right: 0;
    margin-left: 0%;
    background: #e1e1e1;
}


nav ul.active li {
    display: block;
}


nav ul.active li a {
    display: block;
}


.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    background-color: rgb(243, 127, 181);
    opacity: 1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-name: loading;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes loading {
    0% {opacity: 0.9; right: 0px; top:0px;}
    25% {opacity: 0.7; right: 50px; top:50px;}
    50% {opacity: 0.5; right: 0px; top:50px;}
    75% {opacity: 0.3; right: 50px; top:0px;}
    100% {opacity: 0.1; right: 0px; top:0px;}
}


@-webkit-keyframes loading {
    0% {opacity: 0.9; right: 0px; top:0px;}
    25% {opacity: 0.7; right: 50px; top:50px;}
    50% {opacity: 0.5; right: 0px; top:50px;}
    75% {opacity: 0.3; rigt: 50px; top:0px;}
    100% {opacity: 0.1; right: 0px; top:0px;}
}


.blend {
    display: flex;
    align-items: center;
    justify-content: center;
}


.blend img {
    position: absolute;
    max-width: 100%;
}


.blend h1 {
    font-size: 80px;
    mix-blend-mode: overlay;
}


.ellipse {
    padding-top: 330px;
}


.ellipse img {
    max-width: 100%;
    clip-path: ellipse(200px 200px at 100px 100px);
}


.cirkle img {
    max-width: 100%;
    clip-path: circle(30%);
}


.polygon img {
    max-width: 100%;
    clip-path: polygon(5% 5%, 100% 10%, 900% 75%, 75% 75%, 75% 100%, 60% 75%, 20% 80%);
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
}


.images img:hover {
    transform: scale(1.3);
    transition: .3s linear;
}


